asgiref==3.2.3
automium==0.2.6
automium-web==0.1.1
city==0.1
click==7.1.2
Django==3.0.4
django-batch-select==0.2.4
django-filter==2.2.0
djangorestframework==3.11.0
environ==1.0
Flask==1.1.2
image==1.5.31
itsdangerous==1.1.0
Jinja2==2.11.3
legacy==0.1.6
Markdown==3.2.2
MarkupSafe==1.1.1
Pillow==7.1.2
psycopg2==2.8.5
pygame==1.9.6
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
view==0.1
Werkzeug==1.0.1
