{% extends 'MainApp/base.html' %}
{% block title %} Магазины {% endblock %}
{% block content %}
<form action="" method="GET">
    {% csrf_token %}
    <h3>Магазины</h3>
    <table>
        {{ ShopForm }}
    </table>
    <input type="submit" value="Поиск" name="search">
</form>
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Добавить" name="add">
    </form>
{% load tz %}
{% localtime on %}
  Время сервера  {{ servtime }}
{% endlocaltime %}
<table>
        <tr>
            <th>Код магазина</th>
            <th>Название</th>
            <th>Город</th>
            <th>Улица</th>
            <th>Дом</th>
            <th>Время открытия</th>
            <th>Время закрытия</th>
            <th>Статус</th>
        </tr>
        {% for shop in shops %}
        <tr>
            <td>{{ shop.id }}</td>
            <td>{{ shop.name }}</td>
            <td>{{ shop.street.city.name }}</td>
            <td>{{ shop.street.name }}</td>
            <td>{{ shop.house }}</td>
            <td>{{ shop.time_to_open }}</td>
            <td>{{ shop.time_to_close }}</td>
            {% if shop.time_to_open < servtime and servtime < shop.time_to_close %}
            <td> {{ 1 }} </td>
            {% else %}
            <td> {{ 0 }} </td>
            {% endif %}
        </tr>
        {% endfor %}
</table>
{% endblock %}